html, body, .App, #root {
    height: 100%;
    width: 100%;
}

html{
    background-image: url("./Images/smokeBkground.jpg");
    /* background-repeat: no-repeat; */
    background-size: cover;
}

.grid-container{
    display: inline-grid;
    grid-template-columns: auto auto auto auto;
    margin-right: 10%
}

.App {
display: flex;
justify-content: center;
align-items: center;
}

.score {
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: whitesmoke;
}

